name: Initialize TEI

on: 
  workflow_dispatch:

jobs:
  build_pages:
    name: Publish Edition TEI/XML
    runs-on: ubuntu-latest
    steps:
    - name: Perform Checkout
      uses: actions/checkout@v4
    - name: Setup Java / Ant
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '11'
    - name: Install Ant
      run: |
        apt-get update && apt-get install ant -y --no-install-recommend
        ./scripts/sh/dl_saxon.sh
    - name: Fetch data
      run: |
        ./scripts/sh/fetch_data.sh
    - name: Build
      run: |
        ant -f scripts/ant/build.xml
    - name: Fix pictures names
      run: ./scripts/sh/fix_xml_pics.sh
    - name: Commit data
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Downloaded/Updated Data
